 body, html {
    /* display: grid; */
    text-align: center;
    min-width: 200px;
    min-height: 50px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #292929;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* Main Container */

.main {
    position: absolute;
    height: 100vh;
    transform: translate(0px, 0px);
    width:  100vw;
    transition: 0.35s;
}

.main.open {
    width: calc(100vw - 250px);
    transform: translate(250px, 0px);
    transition: 0.7s;
}

/* Main Content */

.title {
    color: #e2e2e2;
    width: calc(100% - 20px);
    height: calc(10% - 20px);
    min-height: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color:#333333;
}



/* Sidebar */

.sidebar {
    color: #e2e2e2;
    width: calc(330px - 20px);
    height:  calc(100vh - 20px);
    padding: 10px;
    justify-content: center;
    background-color:rgb(169, 169, 169);
    position: relative;
    float: left;
    transform: translate(-335px, 0px);
    transition: 0.5s;
    z-index: 5;
}

.sidebar.open {
    transform: translate(0px, 0px);
    transition: 0.35s;
}

/* Sidebar Content */

.list {
    list-style: none;
    width: 90%;
}

.list-item {
    margin: 0px 7px;
    padding: 10px;
    cursor: pointer;

}

/* Hamburger Menu Default */

.hamburger {
    position: absolute;
    top: 10px;
    left: 100px;
    z-index: 10;
    cursor: pointer;
}

.bar {
    transition: 0.5s;
    margin: 5px;
    height: 5px;
    width: 30px;
    background-color: #fafafa;
}


/* X on open */

.open .bar:nth-child(2) {
    transition: 0.5s;
    opacity: 0;
}

.open .bar:first-child {
    transition: 0.5s;
    transform: rotate(-45deg) translate(130px, 135px);
}

.open .bar:last-child {
    transition: 0.5s;
    transform: rotate(45deg) translate(122px, -144px);
}

@media not all and (hover: none) {


    .list-item:hover {
        background: linear-gradient(90deg, #101010, #0a0c0d);
        border-right: 10px solid #0c0d0d;
    }
}

.list-item.selected {
    background: linear-gradient(90deg, #1aaaff, #2485bd);
    border-right: 10px solid #fafafa;
}
 



/* commmennntttsss */


.list .tablinks {
    border-bottom: #ccc solid 2px;
    text-align: left;
    font: 600 10px/10px Arial;
    letter-spacing: 0;
    color: #585858;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
  }
  .tablinks.active {
    background-color: #fff;
  }
  .tablinks {
    display: block;
    background-color: inherit;
    color: #000;
    padding: 13px 10px;
    border: none;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: medium;
    outline: 0;
    text-align: left;
    cursor: pointer;
    transition: .3s;
    font-size: 17px;
  }
 


