/*------------------HEADER-------------*/
#header{
    width: 100%;
    min-height: 100px;
    /* border: 1px solid red; */
}
#logo>a>img{
    width: 180px;
    height: 54px;
    margin-left: 200px;
    margin-top: 20px;
}
#news18{
    font-size: 22px;
    margin-left: 450px;
    padding-bottom: 10px;
}
#news18>a{
    text-decoration: none;
}
#social_media{
    margin-right: 180px;
}
.social{
    padding: 10px;
}
#facebook{
    color: #4267B2;
}
#twitter{
    color: #1DA1F2;
}
#instagram{
    color: #E1306C;
}
#youtube{
    color: red;
}
/* -----------------NAVBAR------------------ */
#navbar{
    width: 100%;
    min-height: 40px;
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 15px;
    background-color: #133761;
}
#navbar>a{
    text-decoration: none;
    font-size: 18px;
    border-left: 1px solid white;
    padding: 0px 10px;
    color: white;
}
#navbar>a:nth-child(1){
    border-left: none;
}
/*------------------TOP-SECTION-1-----------*/
#top1{
    width: 100%;
    min-height: 560px;
    /* border: 1px solid red; */
}
#t1{
    width: 100%;
    min-height: 420px;
    /* border: 1px solid green; */
    display: flex;
}
.t11{
    width: 50%;
    min-height: 400px;
    /* border: 1px solid blue; */
}
#t1_know_more{
    width: 55%;
    height: 30px;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 20px 0px 20px 40px;
    background-color: #c91d23;
    margin-left: 17%;
}
#t1_text{
    color: white;
    text-decoration: none;
    font-size: 24px;
}
#t1_km{
    color: white;
    text-decoration: none;
    font-size: 16px;
    /* border: 1px solid black; */
    padding: 8px 25px;
    background-color: #001d42;
    margin-left: 125px;
    
}
#t1_video{
    text-align: right;
}
#t1_desc>img{
    height: 270px;
    margin-left: 60px;
    margin-bottom: 10px;
}
#t1_desc>p{
    width: 400px;
    margin-left: 30px;
    color: rgb(115, 114, 114);
}
/*------------------TOP-SECTION-2-----------*/
#top2{
    width: 100%;
    min-height: 430px;
    border: 1px solid red;
    display: flex;
    background-color: #c91d23;
}
.t22{
    max-width: 392px;
    min-height: 274px;
    /* border: 2px solid green; */
    margin-top: 70px;
    margin-left: 320px;
    margin-right: -290px;
}
#t2_desc{
}
 #t2_desc>h2,p,a{
    color: white;
}
#t2_desc>p{
    font-size: 18px;
}
#t2_desc>a{
    text-decoration: none;
    font-size: 20px;
    padding: 4px 18px;
    background-color: #143861;
}
#h2_video{
} 
/*------------------TOP-SECTION-3-----------*/
/*------------------TOP-SECTION-4-----------*/
#top4{
    width: 100%;
    min-height: 500px;
    /* border: 1px solid red; */
    margin: auto;
    background-color: #0e3973;
}
#t4_box{
    width: 75%;
    height: 300px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
}
#t4_heading{
    /* margin-top: 60px; */
    margin-left: 250px;
    color: white;
    padding-top: 60px;
    margin-top: 0px;
}
#t4_heading>span{
    color: red;
}
.t44{
    width: 30%;
    height: 300px;
    /* border: 2px solid red; */
    margin-top: 50px;
    margin: auto;
    text-align: center;
}
.t44>h4{
    color: white;
    padding: 10px 25px;
}
/*------------------TOP-SECTION-5-----------*/
/*------------------TOP-SECTION-6-----------*/
/*------------------TOP-SECTION-7-----------*/
/*------------------TOP-SECTION-8-----------*/
/*------------------TOP-SECTION-9-----------*/
/*------------------TOP-SECTION-10-----------*/
#top10{
    width: 100%;
    min-height: 350px;
    background-color: #e5e5e5;
    /* border: 1px solid red; */
}
#t10_heading{
    text-align: center;
    margin-top: 50px;
}
#t10_heading>span{
    color: red;
}
#t10_box{
    width: 50%;
    min-height: 200px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
}
.t1010{
    width: 50%;
    height: 200px;
    /* border: 2px solid red; */
    text-align: center;
}
.t1010>img{
    width: 190px;
    height: 139px;
}
/*------------------TOP-SECTION-11-----------*/
#top11{
    width: 100%;
    min-height: 450px;
    /* border: 1px solid red; */
}
#t11_heading{
    margin-top: 50px;
    margin-left: 160px;
}
#t11_heading>span{
    color: red;
}
#t11_box{
    width: 70%;
    min-height: 350px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
}
.t1111{
    width: 50%;
    min-height: 350px;
    /* border: 1px solid red; */
}
#t11_text>h3{
    color: #4a4949;
}
/*----------------------FOOTER---------------*/
#footer{
    width: 100%;
    min-height: 280px;
    /* border: 1px solid red; */
    text-align: center;
    background-color: #555555;
}
#footer>img{
    width: 180px;
    min-height: 66px;
    margin-top: 75px;
}
#f_para2{
    font-size: 18px;
}