#rup-right{
    width: 20%;
    margin-left: 3%;
    padding-right: 10%;
    margin-top: 10%;

}
#rright>.rout{
    display: flex;
    gap: 5%;
}
#rright>div{
    border: 1px solid rgb(226, 223, 223);
    padding: 1%;
}
#rright>div>h2{
    font-family : Arial-400 ;
} 
.rout>div{
    margin-top: 2%;
}
#rstar{
    color: red;
}
#rsubscribe{
    background-color: rgb(250,214,95);
}

#rsub{
    background-color: rgb(250,214,95);
    border: 0px;
    color: white;
    height: 25px;
    font-size: 18px;
    margin-top: 2%;
}
#rsmall{
    font-size: 14px;
    color: rgb(197, 192, 192);
}
#rin-email{
    height: 25px;
    margin-bottom: 2%;
}
#rline-right{
    height: 2px;
    background-color: black;
}
#rline-yel{
    height: 6px;
    background-color: rgb(250,214,95);
    border: 0px;
    width: 60%;
    margin-top: -12%;
    margin-left: -1%;
}
#rsub-div{
    border: 1px solid rgb(226, 223, 223);
    padding: 1%;
    padding-left: 5%;
}
#rsubscribed{
    color: green;
    margin-top: 10%;
    font-size: 17px;
}