#up-right {
  width: 20%;
  margin-left: 3%;
  padding-right: 10%;
  margin-top: 10%;
}
#up-right > #upper {
  width: 250px;
  height: 160px;
}

#up-right > #upper p {
  max-height: 100px;
  margin-top: 10px;
}
.out {
  width: 260px;
  height: auto;
}
#right > .out {
  display: flex;
  gap: 5%;
  padding-left: 24px;
}
.out h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}
.out p {
  margin-bottom: 15px;
}
#right > div {
  border: 1px solid rgb(226, 223, 223);
  padding: 1%;
}
#right > div > h2 {
  font-family: Arial-400;
  margin-top: 15px;
}
.out > div {
  margin-top: 2%;
}
#star {
  color: red;
}
#subscribe {
  background-color: rgb(250, 214, 95);
}

#sub {
  background-color: rgb(250, 214, 95);
  border: 0px;
  color: white;
  height: 25px;
  font-size: 18px;
  margin-top: 2%;
}
#small {
  font-size: 14px;
  color: rgb(197, 192, 192);
}
#in-email {
  height: 25px;
  margin-bottom: 2%;
}
#line-right {
  height: 2px;
  background-color: black;
}
#line-yel {
  height: 6px;
  background-color: rgb(250, 214, 95);
  border: 0px;
  width: 60%;
  margin-top: -12%;
  margin-left: -1%;
}
#sub-div {
  border: 1px solid rgb(226, 223, 223);
  padding: 1%;
  padding-left: 5%;
}
#subscribed {
  color: green;
  margin-top: 10%;
  font-size: 17px;
}
button {
  margin-bottom: 20px;
  border: 2px solid red;
}
