#container{
 border:5px solid red ;
 width:40%;
 height:8000px;
 align-items: center;
 margin-left:250px
}

#imgnews{
  width:100%;
  height: 150%;



}

#div{
  border:10px solid teal;

}

#para{
  margin-bottom: 40px;
  border:5px solid blue;
  height: 100%x;
  width:100%;
  
}
.headline{
  margin-left:400px;
}
 
.videodiv{
  display: flex;
  justify-content: space-between;
  gap:8px
}

#container1{
  border:5px solid purple;
  width:25%;
  height:8000px;
  margin-right: 150x;
}

#page{
  display: flex;
  gap:30px;
  
}
#sidebar{
  display:flex;
  gap:15px

}

#countshad{
  width:25px;
  height:25px;
  border: 2px solid pink;
  border-radius: 100%;
  background-color: #EFEFEF;
  
}
#imgslider{
  width:100%;
  height:100%;
  
}
